:root{
    --peru:#96B6C5; 
   
    --black:#222;
    --white:#fff;
    --light-black:#666;
    --light-bg:#f5f5f5;
    --dark-bg:rgba(0,0,0,0.7);
    --border:1rem solid #aaa;
    --box-shadow:0.5rem 1rem rgba(0,0,0,.1);
  
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all 0.4s cubic cubic-bezier(.43,1.1,.62,1.08);
    text-transform: capitalize;
  
  }
  *> img{
    user-select: none;
    pointer-events: none;
  }
  @keyframes fadeIn{
  
    0%{
      transform: translateY(-4rem) scale(0);
      opacity: 0%;
  
    }
  }
  
  .home{
    padding: 0;
    /* background-color: var(--dark-bg); */
  
  }
  html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  
    
  }
  
  html::-webkit-scrollbar{
    width: 1rem;
  }
  html::-webkit-scrollbar-track{
    background-color: var(--white);
  }
  
  html::-webkit-scrollbar-thumb{
    /* background-color: #F5D2E6; */
    background-color: rgb(0,0,0,0.7);
  }
  body {
    font-family: 'poppins',sans-serif;
    margin: 0;
    padding: 0;
  
    line-height: 1.4;
    font-weight: 300;
    overflow-x: hidden;
    /* background-color: #96B6C5; */
   
  }
  .logo img{
    height: 100px;
    width: 120px;
    
  }
  nav {
    /* background-color: #fff0db; */
    background-color: #162938;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    height: 100px;
    width: 100%;
   
    padding: 10px; 
    z-index: 50;
    justify-content: space-between;
   
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    background-color: #162938;
    /* background-color: #96B6C5; */
    /* background-color: #F5D2E6; */
  }
  .navlist {
    margin-right: 1%;
  
    display: flex;
    justify-content: space-evenly;
    
  
  }
  .navlist ul {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Use flexbox for list items */
    justify-content: space-evenly;
  }
  
  .navb{
    display: flex;
    justify-content: space-evenly;
   
    
    /* border: 2px solid ; */
    margin: 10px;
    padding: 10px;
   
    font-size: 1.6rem;
    
    
  
  }
  
  a{
    text-decoration:none;
    /* color: #96B6C5;
    color: #
    */ color: #d09b30;
    font-weight: 500;
   
  
  }
  .navb a:hover{

    
    
    background-color: #688d9e;
    padding: 8px;
    font-weight: 549;
    border-radius: 25px;
    color: black;
  }
  section{
    padding: 5rem 10%;
   
  }
  .heading{
    text-align: center;
    margin-bottom: 3rem;
  
  }
  .heading span{
    font-size: 3.5rem;
    /* color: var(--peru); */
    color: #162938;
  }
  
  .heading h3{
    font-size: 4.5rem;
    color: var(--black);
  }
  
  .btn{
    margin-top: 1rem;
    display: inline-block;
    background: #162938;
    color: #d09b30;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem 2rem;
    border-radius: 5px;
  }
  .btn:hover{
    letter-spacing: .2rem;
    
    
    background-color: #688d9e;
    
    font-weight: 500;
    border-radius: 15px;
  }
  
  .home{
    padding: 0;
  }
  
  .home .slide{
   
  min-height: 100vh;
  background-size: cover !important;
  background-position: center !important;
  position: relative;
  z-index: 0;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  
  }
  
  .swiper-horizontal>. .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: 0;
  
  
  }
  .home .slide::before{
  
    content: '';
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    /* background: var(--dark-bg); */
    background: rgba(0,0,0,0.5);
    z-index: -1;
  }
  .home .slide .content{
    text-align: center;
    
  }
  .glass{
   
    
  
    width: 100%;
    
    height: 100px;
    
    background-color: rgb(255 255 255 / 5%); 
    box-shadow: 0 0 5px rgb(0 0 0/15%); 
    backdrop-filter: blur(10px);
    
    
  }
  
  .home .slide .content h1{
    margin-top: 10%;
    font-size: 6vw;
    display: block;
    padding-bottom: .5rem;
   
    color: #F5D2E6;
  
    
  }
  
  .home .slide .content h2{
    font-size: 4rem;
    text-transform: uppercase;
    color: #96B6C5;
    text-shadow: 0.8rem 1.2rem rgba(0,0,0,0.9);
    line-height: 1;
    padding: 2rem 0;
    animation: fadeIn 0.4s cubic-bezier( .54,1.3,.63,1.34) .4s backwards;
  
   
  }
  .home .slide .content .btn{
    animation: fadeIn 0.4s cubic-bezier( .54,1.3,.63,1.34) .6s backwards;
  
  
  }
  
  .home .slide .content span{
    font-size: 3rem;
    display: block;
    padding-bottom: .5rem;
    color: white;
    animation: fadeIn 0.4s cubic-bezier( .54,1.3,.63,1.34) .2s backwards;
  
  }
  

  .swiper-button-next,
  .swiper-button-prev{
  
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    /* background-color: #96B6C5; */
    color: var(--black);
  }
  .swiper-button-next,
  .swiper-button-prev{
    /* background-color: #96B6C5; */
    color:#F5D2E6 ;
  }
  .swiper-button-next,
  .swiper-button-prev{
    font-size: 2rem;
  }
  
  .about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    /* background-color: #F5D2E6; */
  }
  .about .image{
    flex: 1 10  43rem;
   
  
  } 
  .about .content{
    flex: 1 1 55rem;
  
  }
   .about .image  img{
    width: 100%;
  }
  .about .content .title{
    font-size: 3rem;
    color: var(--black);
  }
  .about .content p{
    font-size: 1.6rem;
    color: var(--light-black);
    padding: 1rem 0 ;
    line-height: 2;
  }
  .about .content .icons-container{
    display: flex;
    flex-wrap:wrap ;
    gap: 2rem;
    margin-top: 2rem;
  
  
  }
  .about .content .icons-container .icons{
     flex: 1 1 10rem;  
    text-align: center;
    background: var(--light-bg);
    padding:1rem;
  
  }
    .icons img{
    height: 160px;
    width: 100px;
  }  
  .about .content .icons-container .icons img{
    height: 6rem;
  
  } 
  .about .content .icons-container .icons h3{
   
    /* padding-top: 1rem; */
    font-size: 1.5rem;
    color: var(--light-black);
    font-weight:normal ;
  }
  .food{
     /* background: #c3e0ed;  */
  }
  .food .slide{
    text-align: center;
    padding: 4rem 2rem;
    border-radius: .5rem;
    transform: scale(.8);
    opacity: .5; 
    margin-bottom: 4rem;
    cursor: pointer;
  
  
  }
  
   .food .swiper-slide-active{
    transform: scale(1.2);
     opacity: 1; 
    
    background: #162938;
     
    /* box-shadow: var(--box-shadow); */
    
    border: .2rem solid black; 
  
  } 
  .food .slide img{
    height: 25rem;
    margin-bottom: 1rem;
  
    
  
  }
  .food .slide h3{
    font-size: 2.5rem;
    padding: 1rem 0;
   color: #d09b30;
  }
  .food .slide .price{
    font-size: 2.5rem;
    color:#d09b30;
  
  
  }
   .food-preview-container{
    background: var(--dark-bg);
     position: fixed;  
   
    top: 0; left: 0;
     
    height: 100%;
    
    width: 100%;
    
    z-index:1100 ;
    
    display: none;
    align-items: center;
    justify-content: center;
  
  } 
  .food-preview-container img{
    height: 300px;
    width: 300px;
  } 
  
   .food-preview-container .food-preview{
    text-align: center;
    background: var(--white);
    padding: 3rem 2rem;
    border-radius: .5rem;
    display:none ;
    width: 35rem;
  
  } 
  .food-preview-container .food-preview.active{
    display: inline-block;
  
  }
  .food-preview-container .food-preview img{
    height: 25rem;
    margin-bottom: 1rem;
  }
  .food-preview-container .food-preview h3{
    padding:1rem 0 ;
    font-size: 2.5rem;
    color: var(--black);
  
  
  }
  .food-preview-container .food-preview .stars{
   margin-bottom: 1rem;
  
  
  
  }
  .food-preview-container .food-preview .stars i{
   font-size: 1.6rem;
   color: #d09b30;
  
  
  }
  .food-preview-container .food-preview p{
    font-size: 1.6rem;
    color: var(--light-black);
    padding: 1rem 0;
    line-height: 2;
  }
  .food-preview-container .food-preview{
    font-size: 2.5rem;
    color: var(--black);
  }
  .food-preview-container .food-preview .price{
    font-size: 2.5rem;
    color: var(--black);
    margin-bottom: .5rem;
  }
  #close-preview{
    position: absolute;
    top:1.5rem ; right: 2.5rem;
    font-size: 6rem;
    cursor: pointer;
    color: var(--white);
  }
  #close-preview:hover{
    transform: rotate(50deg);
  
  }
  
  .gallery .gallery-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 2rem;
  }
  
  .gallery .gallery-container .box{
    height: 20rem;
    position: relative;
    overflow: hidden;
  }
  
  .gallery .gallery-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .gallery .gallery-container .box .icon{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0; left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background-color: var(--dark-bg);
  
  }
  .gallery .gallery-container .box .icon i{
    font-size: 2rem;
    color: var(--white);
  
  }
  .gallery .gallery-container  .box:hover .icon{
    display: flex;
  }
  
  .menu{
    background: var(--light-bg);
    padding-bottom: 3rem;
  }
  .menu .slide{
    margin-bottom: 4rem ;
  }
  .menu-slider{
    height: 30%;
  }
  .menu .slide .title{
  
    padding: 1rem;
    font-size: 3rem;
    color: #d09b30;
    background: #162938;
    /* margin-bottom:3rem; */
    margin: 3rem;
    text-align: center;
    }
    .menu .slide .box-container{
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
    }
  
    .menu .slide .box-container .box{
      flex: 1 1 41rem;
      background: var(--white);
      padding: 2rem;
      box-shadow: var(--box-shadow);
      border:  3px solid  #162938;
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: space-between;
    }
  
    .menu .slide .box-container .box h3{
      font-size: 2.5rem;
      color: var(--black);
      padding-bottom: 1rem;
    }
    .menu .slide .box-container .box p{
      font-size: 1.6rem;
      color: var(--light-black);
      line-height: 2;
  
  
    } 
    .menu .slide .box-container .box .price{
      font-size: 2.5rem;
      color: var(--peru);
      
  
    }
    .menu .slide .box-container .box:hover{
      transform: scale(.9);
      cursor: pointer;
    }
  
    .order{
      background: var(--peru);
    }
  
    .order .heading span{
      color: var(--white);
    }
  
    .order .heading h3{
      color: var(--white);
    }
  
    .order form{
      padding: 2rem;
      background: var(--white);
      box-shadow: var(--box-shadow);
    }
    .order form .box-container{
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
  
    } 
    .order form .box-container .box{
      flex: 1 1 41rem;
    }
    .order form .box-container .box .inputbox input,
    .order form .box-container .box .inputbox textarea{
  
      width: 100%;
      margin: 1rem 0;
      padding: 1.2 rem 1.4 rem;
      color: var(--light-black);
      border: var(--border);
      border-width: 2px;
      
      text-transform: none;
  
    }
    .order form .box-container .box .inputbox input::placeholder,
    .order form .box-container .box .inputbox textarea::placeholder {
        text-transform: capitalize;
    }
    
    .order form .box-container .box .inputbox input:focus,
    .order form .box-container .box .inputbox textarea:focus {
        background: var(--black);
        color: var(--white);
    }
    
    .order form .box-container .box .inputbox input:focus::placeholder,
    .order form .box-container .box .inputbox textarea:focus::placeholder {
        color: var(--light-bg);
    }
    
  
    .order form .box-container .box .inputbox textarea{
      height: 20rem;
      resize: none;
    }
    .order form .box-container .box .inputbox map{
      height: 20rem;
      width: 100%;
      margin: 1rem 0;
      padding: 5rem 0;
    }
    .order form .box-container .box .inputbox span{
      color: var(--light-black);
      font-size: 2rem;
    }
  
  .ptext {
    background-color: #162938;
    width: 500px;
    height: 70px;
    margin-left: 35%;
    
    position: absolute;
    top: 40%;
   
    text-align: center;
    color: black;
    font-size: 27px;
    /* letter-spacing: 8px; */
    text-transform: uppercase;
  }
  .textbg{
    margin-top: 10%;
  }
  
  .buttons-section {
    text-align: center;
    padding: 20px 0;
  }
  
  .buttons-section ul {
    list-style: none;
  }
  
  .buttons-section ul li {
    display: inline;
    margin: 0 10px;
  }
  
  .buttons-section ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  
  .footer-container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .linklist {
    margin-bottom: 20px;
  }
  
  .linklist h3 {
    margin-bottom: 10px;
    color: gray;
  }
  
  .linklist ul {
    list-style: none;
  }
  
  .linklist ul li {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .linklist ul li a {
color: #d09b30;
  }
  .linklist ul li a:hover {
    color: gray;
      }
  .newsletter h3 {
    margin-bottom: 10px;
    color: gray;
  }
  
  .newsletter input {
    padding: 5px 40px;
    margin-bottom: 10px;
  }
  
  .icon-con {
    display: flex;
    gap: 15px;
    font-size: 32px;
    color: black;
  }
  
  @media (max-width: 786px) {
    .navigation {
        flex-direction: column;
        align-items: center;
    }
  
    .buttons-section ul li {
        display: block;
        margin: 10px 0;
    }
  
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
  }
  